.Intro-card {
  margin-left: -10px;

  font-size: 100px;
  color: gray;

  opacity: 1;
  transform: rotate(90deg);
}

.Intro-arrow {
  margin-top: 20px;

  font-size: 60px;
  cursor: pointer;

  animation: pulseActive 3s ease infinite alternate;
}
